[user]
	name = 
	email = 

[alias]
	hist = log --all --graph --decorate --oneline

[diff]
	tool = p4merge

[difftool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge

[difftool]
	prompt = false

[merge]
	tool = p4merge

[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge

[mergetool]
	prompt = false
	
[core]
	pager = less -FX
